<!DOCTYPE html>
<html lang="en">
    <head>
        <title>StoreOrderApp</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/styles/index.css">
    </head>

    <body class="body">
        <header class="header">
            <nav class="header-left">
                <a href="{{ url_for('index') }}">
                    main-page
                </a>
            </nav>
            <div class="header-mid">
                <input type="text" placeholder="Search...">
                <button>
                    Enter
                </button>
            </div>
            <nav class="header-right">
                <a href="{{ url_for('member') }}">
                    member
                </a>
                <a href="{{ url_for('member_level') }}">
                    member_level
                </a>
                <a href="{{ url_for('uom') }}">
                    uom
                </a>
                <a href="{{ url_for('product') }}">
                    product
                </a>
            </nav>
        </header>

        <main>
            <h2>Order Item</h2>
            <button class="button-add">
                Add Order Item
            </button>

            <div id="insert">
            </div>
            
            <button class="button-update">
                Update Order Item
            </button>

            <div id="update">
            </div>

            <div role="status" id="table-loader">
                <span>Loading Order Items...</span>
            </div>

            <table border="1">
                <thead>
                    <th>Product Name</th>
                    <th>Unit</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td colspan="3" align="right">Total: </td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>
            
        </main>
    </body>

</html>
